
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: '';
  border: 1em solid teal;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: .5s;
}

@keyframes loader {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.navbar {
  background-color: transparent;
  font-family: 'Archivo Black', sans-serif;
  color: teal;
}
.navbar-collapse {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
}
.navbar-brand {
  color: teal;
  text-transform: uppercase;
}
.navbar-brand:hover {
  color: blanchedalmond;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  
}
.navbar-toggler-icon {
  color: teal;
  padding: 5px;
}
.nav-link {
  position: relative;
  text-align: center;
  font-family: "Acme", cursive;
  font-size: 17px;
  color: teal;
  margin-right: 1em !important;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: teal;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s linear;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.mouse-icon {
  position: absolute;
  left: 50%;
  bottom: -120px;
  border: 2px solid #fff;
  border-radius: 16px;
  height: 50px;
  width: 30px;
  margin-left: -17px;
  display: block;
  z-index: 10;
}

.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 4px;
  height: 10px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
.banner-area {
  background:url('../img/backgroudfor.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.banner-table {
  display: table;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.banner-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.welcome-text {
  color: #ffffff;
}

.welcome-text h2 {
  font-size: 2.8em;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Bree Serif', serif;
}

.text-affect,
.typed-cursor {
  display: inline;
  font-size: 4em;
  font-weight: 700;
  color: #ffffff;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}

.banner-btn a {
  background-color: rgb(0, 128, 128);
  color: #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin-top: 25px;
  border-radius: 25px;
  text-decoration: none;
  letter-spacing: 2px;
}
.banner-btn a:hover {
  background-color: rgba(41, 62, 196, 0.7);
}

@media (max-width: 991px) {
  .welcome-text {
    text-align: center;
    margin: 25px auto;
  }
}
.line1 {
  border-top: 3px solid black;
  width: 200px;
}
.line2 {
  border-top: 3px solid teal;
  width: 150px;
}
.about-area {
  background-color: rgba(191, 196, 226, 0.7);
}
.about-area h2 {
  padding-top: 2em;
  position: relative;
  font-family: 'Bebas Neue', cursive;
}
.about-right {
  padding: 2% 5%;
}
.about-right p{
  font-family: 'Bree Serif', cursive;
  color: black;
}
.about-right h1 {
  border-left: 3px solid teal;
  border-right: 3px solid teal;
  background-color: bisque;
  padding-left: 15px;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Bree Serif', serif;
}
.timeline-area {
  background-color: beige;
}
.socials {
  margin-top: 5%;
}
.socials li {
  display: inline-block;
  margin-right: 25px;
}
@media only screen and (max-width: 400px){
  .socials li{
    margin-right: 10px;
  }
}
.socials a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: #222222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #222222;
  border-radius: 50%;
  background: transparent;
  line-height: 2.5;
  text-align: center;
}
.socials a:hover{
  background: #222222;
  color: #ffffff;
}

.timeline-area h2 {
  padding-top: 2em;
  position: relative;
  font-family: 'Bebas Neue', cursive;
}
.main-timeline {
  overflow: hidden;
  position: relative;
}
.main-timeline h4 {
  padding: 10px;
}
.main-timeline .timeline {
  position: relative;
  margin-top: -79px;
}
.main-timeline .timeline:first-child {
  margin-top: 0;
}
.main-timeline .timeline-icon,
.main-timeline .year {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.main-timeline .timeline:after,
.main-timeline .timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-timeline .timeline:before {
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: -8px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.main-timeline .timeline-icon {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: #f44556;
  border-right-color: #f44556;
  z-index: 1;
  transform: rotate(45deg);
}
.main-timeline .year {
  display: block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-weight: 700;
  color: #f44556;
  text-align: center;
  transform: rotate(-45deg);
}
.main-timeline .timeline-content {
  width: 35%;
  float: right;
  background: #f44556;
  padding: 30px 20px;
  margin: 50px 0;
  z-index: 1;
  position: relative;
}
.main-timeline .timeline-content:before {
  content: "";
  width: 20%;
  height: 15px;
  background: #f44556;
  position: absolute;
  top: 50%;
  left: -20%;
  z-index: -1;
  transform: translateY(-50%);
}
.main-timeline .title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
}
.main-timeline .description {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin: 0;
}
.main-timeline .timeline:nth-child(2n):before {
  box-shadow: 8px 0 5px -5px rgba(0, 0, 0, 0.5) inset;
}
.main-timeline .timeline:nth-child(2n) .timeline-icon {
  transform: rotate(-135deg);
  border-top-color: #e97e2e;
  border-right-color: #e97e2e;
}
.main-timeline .timeline:nth-child(2n) .year {
  transform: rotate(135deg);
  color: #e97e2e;
}
.main-timeline .timeline:nth-child(2n) .timeline-content {
  float: left;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:before {
  left: auto;
  right: -20%;
}
.main-timeline .timeline:nth-child(2n) .timeline-content,
.main-timeline .timeline:nth-child(2n) .timeline-content:before {
  background: #e97e2e;
}
.main-timeline .timeline:nth-child(3n) .timeline-icon {
  border-top-color: #13afae;
  border-right-color: #13afae;
}
.main-timeline .timeline:nth-child(3n) .year {
  color: #13afae;
}
.main-timeline .timeline:nth-child(3n) .timeline-content,
.main-timeline .timeline:nth-child(3n) .timeline-content:before {
  background: #13afae;
}
.main-timeline .timeline:nth-child(4n) .timeline-icon {
  border-top-color: #105572;
  border-right-color: #105572;
}
.main-timeline .timeline:nth-child(4n) .year {
  color: #105572;
}
.main-timeline .timeline:nth-child(4n) .timeline-content,
.main-timeline .timeline:nth-child(4n) .timeline-content:before {
  background: #105572;
}
@media only screen and (max-width: 1199px) {
  .main-timeline .timeline {
    margin-top: -103px;
  }
  .main-timeline .timeline-content:before {
    left: -18%;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content:before {
    right: -18%;
  }
}
@media only screen and (max-width: 990px) {
  .main-timeline .timeline {
    margin-top: -127px;
  }
  .main-timeline .timeline-content:before {
    left: -2%;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content:before {
    right: -2%;
  }
}
@media only screen and (max-width: 767px) {
  .main-timeline .timeline {
    margin-top: 0;
    overflow: hidden;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before {
    box-shadow: none;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(2n) .timeline-icon {
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    transform: rotate(135deg);
  }
  .main-timeline .timeline:nth-child(2n) .year,
  .main-timeline .year {
    transform: rotate(-135deg);
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 100%;
    float: none;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 25px 20px;
    margin: 0 auto;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(2n) .timeline-content:before {
    width: 15px;
    height: 25px;
    position: absolute;
    top: -22px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);
  }
}
.skill-title {
  padding-top: 25px;
  position: relative;
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  font-family: 'Bree Serif', serif;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4);
}
.services-area {
  background-color: #eeeeee;
}
.services-area h2 {
  padding-top: 2em;
  position: relative;
  font-family: 'Bebas Neue', cursive;
}
.services-icon i {
  font-size: 35px;
  color: #ffffff;
}

.services-content h3 {
  line-height: 1.9;
  text-transform: uppercase;
}

.services-icon {
  border: 1px solid teal;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 20px;
  background-color: teal;
}

.single-services {
  padding: 40px 20px;
  box-shadow: rgba(58, 78, 95, 0.2) 0 10px 16px,
    rgba(58, 78, 95, 0.05) 0 -5px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.single-services:hover {
  box-shadow: 1px 3px 4px 5px rgba(199, 199, 199, 0.8);
  transition: ease 0.09s;
  -webkit-transition: ease 0.09s;
  -moz-transition: ease 0.09s;
  -ms-transition: ease 0.09s;
  -o-transition: ease 0.09s;
}

.single-services:hover .services-icon {
  background-color: #ffffff;
  transition: ease 0.3s;
  border-color: teal;
}

.single-services:hover .services-icon i {
  color: teal;
}

.single-services:hover {
  background-color: teal;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
.single-services:hover .services-content {
  color: #ffffff;
}
.single-services:hover .services-content h3 {
  color: #ffffff;
}

.gallery-area h2 {
  padding-top: 2em;
  font-family: 'Bebas Neue', cursive;
  position: relative;
}
.project-items {
  position: relative;
  margin-bottom: 30px;
}

.project-items .img {
  display: block;
  position: relative;
}

.project-items .img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  color: teal;
  opacity: 0;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.project-items .img img {
  width: 100%;
}

.project-items:hover .img::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  opacity: 1;
}

.project-items:hover .project-text {
  opacity: 1;
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -ms-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.project-text {
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  text-align: center;
}

.project-text i {
  font-size: 2em;
  cursor: pointer;
}

.project-text h3 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 0;
  font-size: 17px;
  letter-spacing: 2px;
}

.project-text h3:after {
  height: 3px;
}

.project-text h2 {
  color: #e94e63;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.review-content p {
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
}

.review-area {
  background-color: #eeeeee;
}
.review-area h2{
  padding-top: 2em;
  font-family: 'Bebas Neue', cursive;
}

.single-review {
  margin: 0 49px 29px;
  border-right: 5px solid teal;
  border-left: 5px solid teal;
  padding: 40px 30px 40px;
  position: relative;
  background-color: #eeeeee;
  color: #010446;
  text-align: center;
}

.single-review::before {
  content: "";
  background-color: teal;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 5px;
}

.single-review::after {
  content: "";
  background-color: teal;
  right: 0;
  width: 50%;
  height: 5px;
  position: absolute;
  bottom: 0;
}

.single-review .testimonial-content {
  margin-bottom: 30px;
  font-size: 15px;
}

.single-review .pic {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}

.single-review .pic img {
  width: 100%;
  height: 100%;
}

.single-review .review-title small {
  font-size: 15px;
  color: #292f36;
}

.owl-theme .owl-controls {
  margin-top: 50px;
  margin-left: 30px;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  display: inline-block;
  height: 15px ;
  width: 15px ;
  background-color: #222222 ;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dot.active {
  background-color: teal ;
}
.invitation-area {
  background: #333333;
  color: #ffffff;
  padding: 40px;
  margin: auto;
}
.single-invite h2 {
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.single-invite p {
  width: 70%;
  margin: auto;
  color: #ffffff;
}
.single-invite a {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  background: teal;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
}
.contact-area h2 {
  padding-top: 2em;
  font-family: 'Bebas Neue', cursive;
  position: relative;
}
.contact-area{
  padding-bottom: 20px;

}
.contact-area .form-control {
  border: 2px solid #a2a2a2;
  box-shadow: none;
  padding: 6px;
  border-radius: 0;
  margin-bottom: 30px;
}

.top-contact-text {
  margin-bottom: 50px;
  text-align: center;
}

.contact-area textarea.form-control {
  border: 2px solid #a2a2a2;
  padding: 6px;
  height: 250px;
  margin-bottom: 30px;
}

.btn.btn-send {
  background-color: teal;
  color: #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin-top: 30px;
  border-radius: 25px;
  text-decoration: none;
  letter-spacing: 2px;
}

.top-contact-text h2 {
  margin-top: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
}

.top-contact-text p {
  line-height: 21px;
  letter-spacing: 2px;
  font-size: 11px;
  color: #777;
}

.contact-icon li {
  display: inline-block;

  margin-right: 25px;
}

.contact-icon a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: #222222;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #222222;
  border-radius: 50%;
  background: transparent;
  line-height: 2.5;
  text-align: center;
}

.contact-icon a:hover {
  background: #222222;
  color: #ffffff;
}
.btn-send:hover{
    background-color: lightblue;
}

.contact-icon {
  text-align: center;
  margin-bottom: 25px;
}
.footer-area{
  background-image: linear-gradient(to bottom right, #010446, teal);
  padding: 0.5em;
}
.footer-area p{
  font-family:'Bree Serif', serif;
}
.footer-social {
  margin-top: 20px;
}
.footer-social li {
  display: inline-block;
  margin-right: 25px;
}

.footer-social a {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 19px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #ffffff;
  background: transparent;
  line-height: 2.5;
  text-align: center;
}
@media only screen and (max-width: 400px){
  .footer-area a{
    height: 40px;
    width: 40px;
    line-height: none;
    font-size: 15px;
  }
  .footer-social li{
    margin-right: 10px;
  }
}
.footer-social a:hover{
  background: #ffffff;
  color: #222222;
}
